@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br/>
    <h1 class="display-4">Tela Inicial</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Ultimo trabalho do bimestre</a>.</p>
</div>
