<h1 class=alert-warning>Parabens, você veio até aqui? Bem curioso em, toma um biscoito</h1>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
