<h1>"Meu coraçãozinho" S2</h1>
<label>Do Daniel</label><br />
<meter min="0" max="1000" value="900" low="100" high="700" optimum="850"></meter> <br />

<label>Do Countin</label><br />
<meter min="0" max="1000" value="600" low="100" high="700" optimum="850"></meter> <br />

<label>Do Matheus</label><br />
<meter min="0" max="1000" value="60" low="100" high="700" optimum="850"></meter> <br />

<div>
    <a asp-action="Index">Voltar</a>
</div>

@*EasterEgg*@